<div id="video_<%= id %>" class="video">
  <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4">
    <img src="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_thumb.jpg" />
  </a><br/>
  <div class="title">Loading...</div>
  <div class="duration">--:--</div>
  <div class="links">
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_360.mp4">360</a>
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4">720</a>
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_1080.mp4">1080</a>
  </div>
</div>
