<div id="video_<%= id %>" class="video">
  <a target="_blank" href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4?_=<%= cacheVersion %>">
    <div class="thumbnail_container">
      <div class="thumbnail" style="background-image:url('http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_thumb.jpg?_=<%= cacheVersion %>')">&nbsp;</div>
    </div>
  </a>
  <div>
    <span class="title">...</span>
    <span class="duration">(--:--)</span>
  </div>
  <div class="description">...</div>
  <div>
    <div class="links">
      <a target="_blank" href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_360.mp4?_=<%= cacheVersion %>">360</a>
      <a target="_blank" href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4?_=<%= cacheVersion %>">720</a>
      <a target="_blank" href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_1080.mp4?_=<%= cacheVersion %>">1080</a>
      <a href="javascript:va.toggleEdit('<%= id %>')">edit</a>
    </div>
    <div class="status">Loading...</div>
    <div class="delete">
      <a href="javascript:va.deleteVideo('<%= id %>')">del</a>
    </div>
  </div>
  <div class="tools">
    Rotate:
    <a href="javascript:va.rotateVideo('<%= id %>', 90)">90</a>
    <a href="javascript:va.rotateVideo('<%= id %>', 180)">180</a>
    <a href="javascript:va.rotateVideo('<%= id %>', 270)">270</a>
  </div>
</div>
