<div id="video_<%= id %>" class="video">
  <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4">
    <img src="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_thumb.jpg" />
  </a><br/>
  <div>
    <span class="title">Loading...</span>
    (<span class="duration">--:--</span>)
  </div>
  <div class="description"></div>
  <div class="links">
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_360.mp4">360</a>
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_720.mp4">720</a>
    <a href="http://s3.amazonaws.com/<%= bucket %>/<%= id %>/<%= id %>_1080.mp4">1080</a>
  </div>
  <div class="status"></div>
</div>
