body {
  font-family: Helevtica, Arial, sans-serif;
}

div {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */  
}

#header {
  background-color: #444;
  color: #ffffff;
  font-size: 16pt;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 4px;
}

#toolbar {
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100px;
  padding: 5px;
  overflow-y: auto;
}

#toolbar h3 {
  margin: 0;
  padding-bottom: 5px;
}

#time_nav {
  padding-bottom: 15px;
}

#time_nav .nav-year {
  margin-bottom: 10px;
}

#time_nav .nav-month {
  margin-left: 10px;
}

#main {
  margin-top: 30px;
  margin-left: 100px;
  min-height: 100%;
  background-color:#f0f0f0;
  padding: 5px;
  padding-top:10px;
}

.video, .uploading_video {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 20px;
  vertical-align:top;
  margin-left: 5px;
}

.video .title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  max-width: 200px;
  vertical-align:top;
}

.video .duration {
  display: inline-block;
}

.video .thumbnail_container {
  height: 180px;
  overflow: hidden;
  margin-bottom:5px;
}

.video .thumbnail, .uploading_video .thumbnail_placeholder {
  width: 320px;
  min-height:180px;
  background-size:cover;
  background-position: 50% 50%;
}

.video div, .uploading_video div {
  text-align: center;
}

.video .description {
  color: #666666;
  font-size: 10pt;
}

.uploading_video .thumbnail_placeholder {
  background-color: #888888;
}

.video .links, .video .status, .video .delete {
  display: inline-block;
  font-size: 10pt;
}

.video .links {
  display: none;
}

.video .tools {
  padding-top: 10px;
  display: none;
}

.video .tools .rotate {
  display: none;
}

.video .status {
  color: #999999;
}

#player_container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#player {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
}

#close_player {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
}

#next_video {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

#player_metadata {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  padding: 5px;
  color: white;
}

#player_title {
  font-weight: bold;
}

#next_video a, #close_player a {
  color: white;
}
